@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #047bfb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contianer {
    position: relative;
    width: 400px;
    height: 100vh;
    background: #eff8ff;
    display: flex;
    flex-direction: column;
}

.form-input {
    display: flex;
    align-items: center;
    background: #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.form-input .icons {
    color: #888;
    padding-right: 10px;
}

.form-input input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
}

.column {
    background: transparent;
    flex-direction: column;
    gap: 5px;
    padding: 0;
}

.form-input button {
    font-weight: 600;
    width: 100%;
    background: #047bfb;
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

@media (max-width: 400px) {
    body {
        height: 100vh;
    }

    .contianer {
        position: relative;
        width: 100vw;
        /*height: 100%;*/
    }

    .header-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background: #346cac;
        padding: 10px;
    }

    .card {
        width: 100%;
        background: #fff;
        margin: 15px;
    }

    .card img {
        max-width: 88%;
        margin: 15px;
        margin-bottom: 0;
    }
}